* {
  font-family: Arial, Helvetica, sans-serif;
}

.index {
  /* border: 1px solid red; */
  /* text-align: center; */
  margin-left: 10%;
}

.index__title {
  font-family: Garamond, "Times New Roman", serif;
  font-weight: 100;
  letter-spacing: -24px;
  font-size: 12rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.index__nav {
  list-style: none;
  padding-left: 0;
  /* margin-left: 5.5rem; */
}

.index__item {
  font-size: 2rem;
  padding: 0.5rem 0;
}

.index__link {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  color: #000;
}

.index__link:hover {
  font-style: italic;
  color: rgb(255, 145, 98);
}
